* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* loading */

.loader {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 21, 26);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    display: block;
    overflow: hidden;
}

.icon {
    font-size: 80px;
    color: white;
    position: absolute;
    top: 40%;
    left: 45%;
}

.xoay {
    animation: xoay 1.5s linear infinite;
    -ms-animation: xoay 1.5s linear infinite;
    -moz-animation: xoay 1.5s linear infinite;
    -o-animation: xoay 1.5s linear infinite;
    -webkit-animation: xoay 1.5s linear infinite;
}

@-webkit-keyframes xoay {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* css menu */

label#icon-menu {
    color: white;
    font-size: 30px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-size: 14px;
}

.header-banner {
    display: flex;
}

.row.header {
    padding: 0;
    background-color: white;
    height: 80px;
}

.header-menu {
    width: 38%;
    position: absolute;
    transform: translateX(-15px);
    border-top: 39px solid white;
    /* border-left: 70px solid transparent; */
    border-right: 58px solid transparent;
}

a img.banner-down {
    position: absolute;
    left: 45.15%;
    width: 50px;
    margin-top: 101px;
    margin-left: -9px;
}

a img.icon-down {
    position: absolute;
    left: -26px;
    top: 105.35%;
}

.header-menu p {
    position: absolute;
    top: -26px;
    left: 220px;
    color: #2C4985;
    font-weight: bold;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
}

.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    display: flex;
    align-items: center;
}

.col-lg-3 {
    display: flex;
    align-items: center;
}

.header-contact i {
    padding: 10px;
    padding-bottom: 21px;
    color: #265BC5;
    cursor: pointer;
    font-size: 20px;
}

.banner-item h5 {
    text-transform: uppercase;
    cursor: pointer;
}

.banner-item p {
    color: #EE1F23;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.banner-item p:hover {
    color: blue;
}

.img-banner {
    height: 700px;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner.banner-logo {
    margin-left: 47%;
}

.banner.banner-logo p {
    position: absolute;
    top: 0;
    left: 0;
}

img.img-next {
    margin-right: 20px;
    margin-left: -41px;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 10%;
}

.menu ul li a {
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul li {
    padding: 20px;
    list-style: none;
}

.banner-hr {
    background-color: blanchedalmond;
    opacity: 0.5;
    margin-top: -0%;
}

hr {
    margin-top: -4%;
}

.vang a {
    position: relative;
}

.vang a:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    top: 42px;
    height: 2px;
}

.banner-menu li.vang-hover a {
    position: relative;
}

.banner-menu li.vang-hover a:after {
    content: "";
    position: absolute;
    opacity: 0;
    background-color: white;
    width: 100%;
    left: 0;
    top: 42px;
    height: 2px;
}

.banner-menu li.vang-hover:hover a:after {
    opacity: 1;
}

.flex-banner-up {
    padding-top: 20px;
}

.flex-banner-down {
    display: flex;
    margin-left: 3px;
    padding-top: 327px;
    margin-left: 83px;
}

.flex-banner-down a:hover p {
    text-shadow: 5px 5px 11px rgba(0, 0, 0, 1);
    font-size: 18px;
}

.button {
    background-color: red;
    width: 15%;
    height: 50px;
}

.button p {
    font-size: 20px;
    color: white;
    padding: 5px;
}

.banner-img {
    padding: 54px 66px;
    /* padding-top: 35px; */
    margin: 10px 16px;
}

.text-banner-img p {
    position: absolute;
    top: 15px;
    left: 64px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: white;
}

.flex-banner-down img {
    padding: 1px;
}

.banner-img {
    padding-top: 50px;
}

.flex-banner-up p {
    position: absolute;
    left: 0%;
    right: -7.18%;
    top: -8.05%;
    bottom: 0%;
    font-size: 46px;
    line-height: 64px;
    /* or 139% */
    color: #FFFFFF;
    height: 188px;
    width: 791px;
    left: 170px;
    top: 274px;
    border-radius: nullpx;
    font-weight: bold;
    animation: mau 3s ease infinite alternate;
}

@keyframes mau {
    25% {
        color: LightSalmon;
    }
    50% {
        color: pink;
    }
    100% {
        color: purple;
    }
}

.flex-banner-up p.text-banner-one {
    animation: mau2 3s ease infinite alternate;
}

@keyframes mau2 {
    25% {
        opacity: 0;
    }
    50% {
        color: pink;
    }
    100% {
        color: purple;
    }
}

.flex-banner-up p.text-banner {
    position: absolute;
    left: 0%;
    right: 9.08%;
    top: 53.95%;
    bottom: 28.07%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* White */
    color: #F8F8F8;
    height: 66px;
    width: 671px;
    left: 170px;
    top: 474px;
    border-radius: nullpx;
}

.flex-banner-down p {
    position: absolute;
    left: 6.91%;
    right: 82.66%;
    top: 20.74%;
    bottom: 3.81%;
    font-family: Muli;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    height: 20px;
    width: 77px;
    left: 220px;
    top: 594px;
    border-radius: nullpx;
}

.flex-banner-down-one {
    display: flex;
    margin-top: 40px;
}

.flex-banner-down-one p {
    position: absolute;
    left: 6.91%;
    right: 82.66%;
    top: 90.74%;
    bottom: 3.81%;
    font-family: Muli;
    font-size: 16px;
    line-height: 19px;
    color: white;
    height: 20px;
    width: 77px;
    left: 70px;
    top: 416px;
    border-radius: nullpx;
    cursor: pointer;
}

.down {
    position: absolute;
    border-bottom: 150px solid white;
    border-left: 111px solid transparent;
    border-right: 111px solid transparent;
    margin-left: 35%;
    margin-top: 9%;
}

a img.icon-down {
    margin-left: 642px;
    margin-top: 8%;
    position: absolute;
    z-index: 4;
}


/* css content */

.text-banner-img-right-one a img.img-nextt {
    position: absolute;
    top: 10px;
    left: 10px;
}

.img-text {
    padding: 20px 8px;
}

.img-icon {
    padding: 10px;
    margin-left: 80%;
    margin-top: -19%;
}

.img-icon a {
    display: block;
    color: white;
    font-size: 25px;
    padding: 15px;
    z-index: 8;
}

.img-icon a:hover {
    color: blue;
}

.content-company {
    background-color: white;
    width: 100%;
    height: 600px;
}

.row.content-company {
    padding-top: 6%;
    overflow: hidden;
}

.img-company {
    position: relative;
}

.img-company a:hover img #overline {
    left: 2.40%;
    transition: 1s;
}

#overline {
    width: 100%;
    height: 455px;
    background-color: chartreuse;
    position: absolute;
    top: 0;
    left: -97%;
    opacity: 0;
}

.blue {
    position: absolute;
    bottom: 40px;
    left: 180px;
}

.blue:hover {
    -webkit-box-shadow: 1px 1px 30px 0px rgba(255, 161, 0, 1);
    -moz-box-shadow: 1px 1px 30px 0px rgba(255, 161, 0, 1);
    box-shadow: 1px 1px 30px 0px rgba(255, 161, 0, 1);
    transition: 0.5s;
}

.blue p {
    position: absolute;
    bottom: 30px;
    left: 80px;
    /* font-family: Muli; */
    font-size: 20px;
    /* line-height: 23px; */
    color: #F8F8F8;
    width: 241px;
    height: 75px;
    font-weight: bold;
}

.blue-one {
    position: absolute;
    bottom: 90px;
    left: 148px;
}

p.ozone-company {
    color: red;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Muli;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

p.ozone-text {
    font-size: 42px;
    line-height: 49px;
    font-weight: bold;
}

p.ozone-text-one {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
}

button.button.one {
    width: 31%;
}

.flex-banner-down.one a img {
    position: absolute;
    left: 3%;
    right: 27.26%;
    top: 56.99%;
    bottom: 5.62%;
    /* Red */
    background: #EE1F23;
}

.flex-banner-down.one p {
    position: absolute;
    left: 12%;
    right: 27.26%;
    top: 58.99%;
    bottom: 5.62%;
    /* Red */
    background: #EE1F23;
}

.flex-banner-down.one {
    margin-top: 10px;
}


/* content-client */

.content-client-wrapper {
    background-image: url('../images/content.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
}


/* content-client */

.row.no-gutters {
    padding-top: 100px;
    margin: 100px;
}

.col-lg-6.content {
    width: 584px;
    height: 273px;
    cursor: pointer;
}

.col-lg-6.content.one:hover,
.col-lg-6.content.two:hover,
.col-lg-6.content.three:hover,
.col-lg-6.content.four:hover {
    -webkit-box-shadow: 1px 1px 30px 0px rgba(255, 161, 0, 1);
    -moz-box-shadow: 1px 1px 30px 0px rgba(255, 161, 0, 1);
    box-shadow: 1px 1px 30px 0px rgba(255, 161, 0, 1);
    background-color: #265BC5;
    transition: 1s;
}

.col-lg-6.content.one:hover p,
.col-lg-6.content.one:hover p.text-content-company.one,
.col-lg-6.content.two:hover p,
.col-lg-6.content.two:hover p.text-content-company.one,
.col-lg-6.content.three:hover p,
.col-lg-6.content.three:hover p.text-content-company.one,
.col-lg-6.content.four:hover p,
.col-lg-6.content.four:hover p.text-content-company.one,
.col-lg-6.content.four:hover p.text-content-company.two,
.col-lg-6 a .text-content-company:hover p,
.col-lg-6 a .text-content-company.one:hover p,
.col-lg-6 a .text-content-company.two:hover p {
    color: white;
}

.col-lg-6.one {
    background: #F8F8F8;
}

.col-lg-6.one:hover .col-lg-6 {
    color: blanchedalmond;
}

.col-lg-6.two {
    background: #265BC5;
}

.col-lg-6.three {
    background: #F8F8F8;
}

.col-lg-6.four {
    background: #F8F8F8;
}

.col-lg-6.content a img {
    position: absolute;
    left: 11.26%;
    right: 75.96%;
    top: 18.68%;
    bottom: 54.21%;
}

.col-lg-6.content.two p {
    color: #F8F8F8;
}

.col-lg-6.content p {
    position: absolute;
    left: 10.72%;
    right: 43.09%;
    top: 57.51%;
    bottom: 34.07%;
    font-size: 18px;
    color: #265BC5;
    width: 100%;
    font-weight: bold;
}

.col-lg-6.content a img.img-content-company {
    position: absolute;
    left: 76.38%;
    right: 11.94%;
    top: 13.11%;
    bottom: 45.05%;
    /* White/Second */
    opacity: 0.6;
}

.col-lg-6.content p.text-content-company {
    position: absolute;
    width: 380.18px;
    left: 10.72%;
    right: 10.89%;
    top: 69.23%;
    bottom: 16.85%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* Black */
    color: #303030;
}

.col-lg-6.content p.text-content-company.one {
    position: absolute;
    width: 380.18px;
    left: 10.72%;
    right: 10.89%;
    top: 76.23%;
    bottom: 16.85%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* Black */
    color: #303030;
}

.col-lg-6.content p.text-content-company.two {
    position: absolute;
    width: 380.18px;
    left: 10.72%;
    right: 10.89%;
    top: 83.23%;
    bottom: 16.85%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* Black */
    color: #303030;
}


/* css new */

.content-new {
    width: 100%;
    height: 800px;
    position: relative;
}

.content-new-text p {
    position: absolute;
    left: 40.94%;
    right: 44.36%;
    top: 10%;
    bottom: 97.46%;
    font-family: Muli;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    /* Red */
    color: #EE1F23;
}

.content-new-text h2 {
    position: absolute;
    left: 41.11%;
    right: 44.36%;
    top: 14.51%;
    bottom: 88.03%;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    font-weight: bold;
    /* Black */
    color: #303030;
    text-transform: uppercase;
}

.row.content-news {
    padding-top: 17%;
}

.col-lg-4.content-new {
    height: 491px;
    width: 370px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.col-lg-4.content-new:hover {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(225, 92, 62, 0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(225, 92, 62, 0.75);
    box-shadow: 6px 6px 5px 0px rgba(225, 92, 62, 0.75);
}

.col-lg-4.content-new a img {
    width: 370px;
    height: 220px;
}

p.content-new-text-one {
    position: absolute;
    left: 7.3%;
    right: 7.3%;
    top: 49.69%;
    bottom: 38.09%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #333333;
    height: 60px;
    width: 316px;
    left: 27px;
    top: 244px;
    border-radius: nullpx;
    cursor: pointer;
}

p.content-new-text-one:hover {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

p.content-new-text-two {
    position: absolute;
    left: 7.3%;
    right: 7.3%;
    top: 64.77%;
    bottom: 21.38%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    height: 68px;
    width: 316px;
    left: 27px;
    top: 318px;
    border-radius: nullpx;
    cursor: pointer;
}

img.text-hr {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 86.76%;
    bottom: 13.24%;
    /* White/Second */
    border: 1px solid #E0E0E0;
    height: 0px;
    width: 320.0000000000014px;
    left: 18px;
    top: 426px;
    border-radius: nullpx;
}

img.icon-new {
    position: absolute;
    left: 7.3%;
    right: 86.22%;
    top: 90.84%;
    bottom: 4.28%;
    height: 24px;
    width: 24px;
    left: 27px;
    top: 446px;
    border-radius: 0px;
    cursor: pointer;
}

p.date {
    position: absolute;
    left: 15.41%;
    right: 64.32%;
    top: 91.85%;
    bottom: 4.89%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* Black */
    color: #303030;
    height: 16px;
    width: 75px;
    left: 57px;
    top: 451px;
    border-radius: nullpx;
}

.col-lg-4.content-new a.load-more {
    position: absolute;
    left: 67.84%;
    right: 14.86%;
    top: 91.85%;
    bottom: 4.89%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* Black */
    color: #303030;
    height: 16px;
    width: 64px;
    left: 251px;
    top: 451px;
    border-radius: nullpx;
}

img.click-new {
    position: absolute;
    left: 86.22%;
    right: 7.3%;
    top: 91.04%;
    bottom: 4.07%;
    height: 24px;
    width: 24px;
    left: 319px;
    top: 447px;
    border-radius: 0px;
    cursor: pointer;
}

.content-view-all a img {
    position: absolute;
    left: 0%;
    right: 21.15%;
    top: 0%;
    bottom: 0%;
    /* Red */
    background: #EE1F23;
    height: 48px;
    width: 189px;
    left: 41%;
    top: 88%;
    border-radius: 0px;
}

.content-view-all p {
    position: absolute;
    left: 36.15%;
    right: 42.29%;
    top: 90.03%;
    bottom: 29.17%;
    font-family: Muli;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    font-family: Muli;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.content-view-all a img.click-all {
    position: absolute;
    left: 48.85%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* White */
    background: #F8F8F8;
    height: 48px;
    width: 48px;
    left: 724px;
    top: 88%;
    border-radius: 0px;
}

.content-view-all a img.click-all-view {
    position: absolute;
    left: 48.85%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* White */
    background: #F8F8F8;
    height: 28px;
    width: 28px;
    left: 732px;
    top: 89%;
    border-radius: 0px;
}

.content-client {
    background-image: url('../images/image\ 4.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 838px;
    position: relative;
}

.text-client p {
    position: absolute;
    left: 34.53%;
    right: 46.51%;
    top: 14.68%;
    bottom: 83.17%;
    font-family: Muli;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #EE1F23;
    letter-spacing: 0.2em;
    margin-left: 7%;
    width: 171px;
}

.text-client h2 {
    position: absolute;
    left: 41.41%;
    right: 43.28%;
    top: 18.5%;
    bottom: 75.18%;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    /* Black */
    color: #303030;
    text-transform: uppercase;
    height: 53px;
    width: 294px;
    left: 490px;
    top: 155px;
    border-radius: nullpx;
    font-weight: bold;
}

.content-client-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.client-left a img {
    position: absolute;
    width: 302px;
    height: 302px;
    left: 474px;
    top: 246px;
    height: 302px;
    width: 302px;
    left: 174px;
    top: 246px;
    border-radius: 0px;
}

.client-center a img {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 144px;
    top: 260px;
    height: 70px;
    width: 70px;
    left: 524px;
    top: 260px;
    border-radius: 0px;
}

.client-right p {
    position: absolute;
    left: 47.76%;
    right: 24.95%;
    top: 32.34%;
    bottom: 45.94%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* Black/Second */
    color: #505050;
    height: 182px;
    width: 524px;
    left: 600px;
    top: 271px;
    border-radius: nullpx;
}

.client-img-left a img {
    position: absolute;
    width: 203px;
    height: 63px;
    left: 560px;
    top: 506px;
    background: #265BC5;
    height: 63px;
    width: 203px;
    left: 260px;
    top: 506px;
    border-radius: 0px;
}

.client-img-left p.client-text-up {
    position: absolute;
    left: 29.95%;
    right: 61.72%;
    top: 61.34%;
    bottom: 36.04%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    /* White */
    color: #F8F8F8;
    height: 22px;
    width: 160px;
    left: 275px;
    top: 514px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.client-img-left p.client-text-down {
    position: absolute;
    left: 29.95%;
    right: 62.6%;
    top: 64.44%;
    bottom: 33.65%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    /* White */
    color: #F8F8F8;
    height: 16px;
    width: 143px;
    left: 262px;
    top: 540px;
    border-radius: nullpx;
}

.client-right a img.img-brorder-client {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 600px;
    top: 470px;
    /* BLUE */
    box-sizing: border-box;
}

.client-right a img.img-brorder-client-eclipse {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 603px;
    top: 473px;
    /* BLUE */
    box-sizing: border-box;
}

.client-right a img.img-brorder-client-eclipse-right {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 630px;
    top: 475px;
    /* BLUE */
    box-sizing: border-box;
}

.client-right a img.img-brorder-client-eclipse-right-one {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 650px;
    top: 475px;
    /* BLUE */
    box-sizing: border-box;
}

.client-right a img.img-brorder-client-eclipse-right-two {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 670px;
    top: 475px;
    /* BLUE */
    box-sizing: border-box;
}

.row.client {
    margin-top: 700px;
    margin-left: 130px;
}

.row.client a img:hover {
    -webkit-box-shadow: -1px 1px 22px 0px rgba(28, 147, 37, 0.75);
    -moz-box-shadow: -1px 1px 22px 0px rgba(28, 147, 37, 0.75);
    box-shadow: -1px 1px 22px 0px rgba(28, 147, 37, 0.75);
}


/* css contact */

.contact {
    background-image: url('../images/Rectangle 310.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 212px;
    background-color: rgb(24 24 245);
}

.row.contact {
    display: flex;
    z-index: 5;
    align-items: center;
    z-index: 10;
    color: cornsilk;
}

.row.contact .col-lg-2 {
    left: 9.53%;
    font-family: Muli;
    font-size: 32px;
    text-align: center;
    padding: 30px;
}

.row.contact .col-lg-2 {
    display: block;
}

.row.contact .col-lg-2 a:hover img {
    background-color: black;
    border-radius: 50%;
}

.row.contact .col-lg-2 p.text-contact {
    font-size: 14px;
    width: 210px;
    height: 42px;
    padding: 10px;
    margin-left: -40px;
    font-family: "Mulish", sans-serif;
}

.col-lg-2 p.contact-text {
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}


/* css footer */

.footer-zone {
    background-color: white;
    max-width: 100%;
    height: 598px;
}

.row.footer {
    padding: 100px;
}

.col-lg-4.footer ul li {
    padding: 5px;
    margin-left: 60px;
}

.col-lg-4.footer ul {
    margin-left: 40px;
}

.col-lg-4.footer ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.col-lg-4.footer ul li a:hover {
    color: blue;
}

.col-lg-4.footer p.footer.one {
    margin-left: 81px;
    font-size: 20px;
}

input[type="email"] {
    border-radius: 0px;
    padding: 11px;
    opacity: 0.4;
    width: 83.99%;
    margin-left: -2px;
}

form a img {
    margin-top: -4px;
    margin-left: -2px;
}

img.submit-footer {
    position: absolute;
    top: 39.99%;
    left: 87%;
}

.col-lg-4.footer a img.img-footer {
    margin-top: -26px;
}

.col-lg-4 p.footer {
    font-weight: bold;
    color: blue;
    font-size: 20px;
}

.col-lg-4 p.text-joint {
    font-weight: bolder;
    margin-top: 20px;
}

.row.icon-footer {
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
}

iframe {
    margin-top: 10px;
}

.row.icon-footer .col-4 i {
    color: blue;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.row.icon-footer .col-4 i:hover {
    color: red;
}


/* back to top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/* responsive */

@media screen and (max-width: 1024px) {
    .header-menu p {
        left: 105px;
    }
    .banner.banner-logo {
        margin-left: 30%;
    }
    .vang a:after {
        top: 52px;
    }
    .banner-menu li.vang-hover a:after {
        top: 52px;
    }
    .banner-item p {
        color: #EE1F23;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        margin-top: -6px;
    }
    .banner-item {
        margin-top: -16px;
    }
    .col-lg-2 {
        display: block;
    }
    .menu ul {
        margin-left: 0;
    }
    .flex-banner-up p {
        left: 62px;
    }
    .flex-banner-up p.text-banner {
        left: 68px;
    }
    .flex-banner-down {
        margin-left: -16px;
    }
    .flex-banner-down p {
        left: 124px;
        top: 601px;
    }
    a img.banner-down {
        margin-top: 28px;
    }
    a img.icon-down {
        margin-left: 496px;
        margin-top: -65%;
    }
    .blue {
        bottom: 114px;
        left: 97px;
    }
    .blue-one {
        bottom: 170px;
        left: 64px;
    }
    p.ozone-text-one {
        margin-top: -12px;
    }
    .flex-banner-down-one {
        margin-top: 25px;
    }
    .flex-banner-down-one p {
        top: 392px;
    }
    .content-new-text p {
        top: 4%;
    }
    .content-new-text h2 {
        top: 8.51%;
        font-size: 37px;
    }
    p.content-new-text-one {
        width: 95%;
        left: 20px;
        color: #333333;
    }
    p.content-new-text-two {
        width: 89%;
        left: 20px;
    }
    .col-lg-4.content-new a.load-more {
        left: 187px;
    }
    img.text-hr {
        width: 285px;
    }
    img.click-new {
        left: 257px;
    }
    .content-view-all a img.click-all {
        left: 611px;
    }
    .content-view-all a img.click-all-view {
        left: 620px;
    }
    .content-view-all p {
        left: 42.15%;
    }
    .text-client h2 {
        left: 363px;
    }
    .client-left a img {
        left: 71px;
    }
    .client-img-left a img {
        left: 155px;
    }
    .client-img-left p.client-text-up {
        left: 179px;
    }
    .client-img-left p.client-text-down {
        left: 166px;
    }
    .row.no-gutters {
        padding-top: 100px;
        margin: 35px;
    }
    .client-center a img {
        left: 436px;
    }
    .client-right p {
        width: 471px;
        left: 499px;
    }
    .client-right-one a img {
        margin-left: -101px;
    }
    .col-lg-2 p.contact-text {
        font-size: 25px;
    }
    .col-lg-4.footer p.footer.one {
        margin-left: 45px;
    }
    .col-lg-4.footer ul {
        margin-left: 2px;
    }
    .row.contact .col-lg-2 p.text-contact {
        margin-left: -56px;
    }
    input[type="email"] {
        opacity: 0.6;
        width: 78.99%;
    }
    img.submit-footer {
        left: 84%;
    }
    hr {
        margin-left: -4px;
    }
    .row.icon-footer {
        text-align: center;
        margin-left: 377px;
        margin-right: 423px;
    }
}


/* responsive 768 */

@media screen and (max-width: 768px) {
    .banner.banner-logo {
        margin-left: 10px;
    }
    .header-menu p {
        left: 22px;
    }
    .vang a:after {
        top: 41px;
    }
    .banner-menu li.vang-hover a:after {
        top: 41px;
    }
    .header-menu {
        border-top: 25px solid white;
        display: none;
    }
    .banner-item h5 {
        font-size: 14px;
    }
    .banner-item p {
        font-size: 10px;
    }
    p.text-banner-one {
        font-size: 39px;
        width: 659px;
    }
    .flex-banner-up p.text-banner {
        font-size: 24px;
        text-align: justify;
        width: 79%;
    }
    .flex-banner-down p {
        top: 610px;
    }
    a img.banner-down {
        margin-top: -31px;
    }
    a img.icon-down {
        margin-left: 395px;
        margin-top: -2%;
    }
    .banner-hr {
        margin-top: -22px;
        position: absolute;
        width: 100%;
    }
    .flex-banner-down p {
        top: 626px;
    }
    a img.banner-down {
        margin-top: -42px;
    }
    a img.icon-down {
        margin-top: -40%;
        left: -41px;
        /* margin-left: -71px; */
    }
    p.ozone-text-one {
        /* margin-top: -12px; */
        /* text-overflow: ellipsis; */
        white-space: nowrap;
        width: 328px;
        /* border: 1px solid #000000; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .flex-banner-down-one {
        margin-top: 86px;
    }
    .flex-banner-down-one p {
        top: 235px;
    }
    .blue {
        bottom: 11px;
        left: 97px;
        width: 64%;
        transition: 1s;
    }
    .blue p {
        bottom: -34px;
        left: -7px;
        font-size: 16px;
        text-align: center;
    }
    .blue-one {
        bottom: 262px;
        left: 64px;
    }
    .content-company {
        height: 319px;
        margin-top: 28px;
    }
    .blue-one {
        bottom: 22px;
        left: 16px;
    }
    .content-client-wrapper {
        height: 1278px;
    }
    .content-new-text p {
        top: 2%;
        width: 176px;
        left: 286px;
    }
    .content-new-text h2 {
        top: 4.51%;
        font-size: 37px;
        width: 20%;
        left: 295px;
    }
    img.text-hr {
        width: 300px;
    }
    p.content-new-text-one {
        width: 93%;
        left: 20px;
    }
    .content-new {
        width: 100%;
        height: 1169px;
        position: relative;
    }
    .content-view-all a img {
        left: 34%;
        top: 95%;
    }
    .content-view-all p {
        left: 35.15%;
        /* top: -8%; */
        /* top: -25px; */
        margin-top: 74px;
    }
    .content-view-all a img.click-all {
        left: 452px;
        margin-top: 83px;
    }
    .content-view-all a img.click-all-view {
        left: 458px;
        margin-top: 82px;
    }
    .text-client p {
        left: 30.53%;
        top: 3.68%;
        width: 171px;
    }
    .text-client h2 {
        left: 231px;
        margin-top: -74px;
    }
    .client-left a img {
        left: 15px;
    }
    .client-img-left a img {
        left: 107px;
    }
    .client-img-left p.client-text-up {
        left: 130px;
    }
    .client-img-left p.client-text-down {
        left: 117px;
    }
    .client-center a img {
        left: 353px;
    }
    .client-right p {
        width: 301px;
        left: 420px;
        text-align: justify;
    }
    .client-right-one a img {
        margin-left: -180x;
        margin-top: 90px;
    }
    .content-client {
        background-image: url(../images/image\ 4.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 753px;
        position: relative;
    }
    .row.client {
        margin-top: 700px;
        margin-left: 71px;
    }
    .col-lg-2 p.contact-text {
        font-size: 25px;
        width: 99px;
        margin-left: -42px;
    }
    .row.contact .col-lg-2 p.text-contact {
        font-size: 10px;
        width: 131px;
        height: 42px;
        padding: 10px;
        margin-left: -40px;
    }
    .row.icon-footer {
        text-align: center;
        margin-left: 268px;
        margin-right: 282px;
        display: flex;
        margin-top: -27px;
    }
}


/* css responsive 540 */

@media screen and (max-width:540px) {
    label#icon-menu {
        color: white;
        font-size: 30px;
        margin-right: 40px;
        cursor: pointer;
        display: flex;
        position: absolute;
        margin-left: 88%;
        margin-top: -37%;
    }
    .menu ul {
        margin-left: 0;
        display: block;
        margin-left: 204px;
        z-index: 32;
        background-color: black;
        height: 209px;
        opacity: 0;
    }
    .menu ul.show {
        transform: translateZ(10deg);
        opacity: 1;
        margin-left: 271px;
        transition: 2s;
    }
    .flex-banner-down {
        margin-left: -16px;
        margin-top: -194px;
    }
    .banner-hr {
        margin-top: -22px;
        position: absolute;
        width: 100%;
        display: none;
    }
    .menu ul li {
        padding: 7px;
        list-style: none;
    }
    .menu ul li a:hover {
        color: rgb(10, 10, 10);
        background-color: white;
        border-radius: 10px;
    }
    .banner-img {
        padding-top: 176px;
    }
    .vang a:after {
        top: 41px;
        display: none;
    }
    .banner-menu li.vang-hover a:after {
        content: "";
        position: absolute;
        opacity: 0;
        background-color: yellow;
        width: 100%;
        left: 0;
        top: 42px;
        height: 2px;
        display: none;
    }
    .banner-item p {
        width: 168%;
    }
    .banner-item h5 {
        width: 157%;
    }
    .header-menu p {
        display: none;
    }
    p.text-banner-one {
        font-size: 29px;
        width: 462px;
        margin-top: 13px;
    }
    .flex-banner-up p.text-banner {
        left: 68px;
        width: 429px;
        text-align: justify;
    }
    .flex-banner-down p {
        left: 124px;
        top: 601px;
        margin-top: 45px;
    }
    .img-icon {
        padding: 10px;
        margin-left: 33%;
        margin-top: -9%;
        display: flex;
    }
    a img.icon-down {
        margin-top: -4%;
        display: none;
    }
    a img.banner-down {
        display: none;
    }
    .content-company {
        height: 100%;
        margin-top: 28px;
    }
    .blue {
        display: none;
    }
    .blue-one {
        display: none;
    }
    .row.content-company {
        margin: 0;
        padding: 0px;
        width: 100%;
    }
    p.ozone-company {
        padding: 14px;
        text-align: center;
    }
    p.text-banner-one {
        line-height: 49px;
    }
    p.ozone-text {
        font-size: 42px;
        line-height: 49px;
        font-weight: bold;
        margin-top: -19px;
        text-align: center;
    }
    p.ozone-text-one {
        /* margin-top: -12px; */
        /* text-overflow: ellipsis; */
        white-space: normal;
        width: 100%;
        /* border: 1px solid #000000; */
        overflow: visible;
        text-overflow: revert;
        text-align: justify;
    }
    .flex-banner-down-one p {
        top: 438px;
    }
    .flex-banner-down-one {
        margin-top: 0;
        margin-left: 97px;
    }
    .flex-banner-down-one p {
        top: 370px;
        left: 166px;
    }
    .row.no-gutters {
        padding-top: 10px;
        margin: 0;
    }
    .col-lg-6.four {
        background: #F8F8F8;
        margin-bottom: 10px;
    }
    .content-client-wrapper {
        height: 100%;
        margin-top: 10px;
    }
    .content-new {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .content-new-text p {
        top: 1%;
        width: 176px;
        left: 186px;
        /* text-align: center; */
    }
    .content-new-text h2 {
        top: 2.51%;
        font-size: 37px;
        width: 40%;
        left: 168px;
    }
    .col-lg-4.content-new a img {
        width: 100%;
        height: 243px;
    }
    p.content-new-text-one {
        width: 91%;
        left: 20px;
    }
    p.content-new-text-two {
        width: 91%;
        left: 20px;
    }
    img.text-hr {
        width: 93%;
    }
    img.click-new {
        left: 477px;
    }
    .col-lg-4.content-new a.load-more {
        left: 402px;
    }
    .text-client h2 {
        left: 130px;
        margin-top: -74px;
        /* text-align: center; */
    }
    .row.content-news {
        padding-top: 17%;
        margin-bottom: 112px;
    }
    .content-view-all a img {
        left: 32%;
        top: 102%;
    }
    .content-view-all p {
        left: 39.15%;
        margin-top: 200px;
    }
    .content-view-all a img.click-all {
        left: 365px;
        margin-top: 220px;
    }
    .content-view-all a img.click-all-view {
        left: 371px;
        margin-top: 213px;
    }
    .client-left a img {
        left: 0%;
        /* display: flex; */
        /* margin: 45px; */
        margin-top: -98px;
        width: 100%;
        height: auto;
    }
    .client-right p {
        width: 301px;
        left: 111px;
        text-align: justify;
    }
    .content-client {
        height: 918px;
    }
    .row.client {
        margin-top: 980px;
        margin-left: 71px;
    }
    .client-right p {
        width: 94%;
        left: 11px;
        text-align: justify;
        top: 78%;
    }
    .row.client {
        margin-top: 889px;
        margin-left: 37px;
        /* left: 36%; */
    }
    .col-lg-6.content p {
        width: 60%;
    }
    .row.contact .col-lg-2 {
        left: 0.53%;
        font-family: Muli;
        font-size: 32px;
        /* text-align: center; */
        padding: 0;
    }
    .col-lg-2 p.contact-text {
        font-size: 25px;
        width: 99px;
        margin-left: -42px;
        display: none;
        visibility: hidden;
    }
    .row.contact .col-lg-2 {
        left: 0.53%;
        font-family: Muli;
        font-size: 32px;
        /* text-align: center; */
        padding: 0;
        margin: 9px;
        margin-left: -5px;
    }
    .row.contact .col-lg-2 p.text-contact {
        font-size: 9px;
        width: 131px;
        height: 42px;
        padding: 10px;
        margin-left: -21px;
    }
    .row.footer {
        /* padding: 100px; */
        text-align: center;
    }
    .client-right-one a img {
        margin-left: -369px;
        /* left: -2px; */
        margin-top: 42%;
        text-align: center;
    }
    .client-img-left a img {
        left: 2px;
        /* top: 0; */
        margin-top: 119px;
    }
    .client-img-left p.client-text-up {
        left: 23px;
        margin-top: 113px;
    }
    .client-img-left p.client-text-down {
        left: 32px;
        margin-top: 111px;
    }
    .client-center a img {
        left: 223px;
        margin-top: 368px;
    }
    .col-lg-4.footer ul li {
        padding: 5px;
        margin-left: 60px;
        list-style: none;
    }
    .col-lg-4.footer ul li a {
        margin-left: -58px;
    }
    .col-lg-4.footer p.footer.one {
        margin-left: 0;
    }
    img.submit-footer {
        left: 85%;
    }
    iframe {
        width: 94%;
    }
    .row.icon-footer {
        margin-left: 138px;
        margin-right: 146px;
        margin-top: -45px;
    }
    .col-lg-4 p.text-joint {
        font-weight: bolder;
        margin-top: 20px;
        font-size: 25px;
    }
    .col-lg-6.content {
        margin-bottom: 10px;
    }
    /* css menu */
}


/* iphone 6/7/8 flus */

@media screen and (max-width: 414px) {
    .header-menu {
        border-top: 0px solid white;
    }
    .img-icon a {
        display: block;
        color: white;
        font-size: 25px;
        padding: 12px;
        z-index: 8;
    }
    .col-lg-2 {
        display: none;
    }
    .menu ul {
        margin-left: 0;
        display: block;
        margin-left: 104px;
        z-index: 32;
        background-color: black;
        height: 209px;
        opacity: 0;
    }
    .menu ul.show {
        transform: translateZ(10deg);
        opacity: 1;
        margin-left: 204px;
        transition: 2s;
    }
    label#icon-menu {
        margin-top: -50%;
    }
    p.text-banner-one {
        font-size: 22px;
        width: 333px;
        padding: -8px;
    }
    p.text-banner-one {
        line-height: 40px;
    }
    .flex-banner-up p.text-banner {
        left: 6px;
        width: 390px;
        text-align: justify;
        margin-top: -60px;
    }
    p.text-banner-one {
        font-size: 22px;
        width: 384px;
        left: 6px;
        padding: -8px;
        /* top: 1px; */
    }
    .img-icon {
        margin-left: 63%;
    }
    p.ozone-text-one {
        text-align: justify;
    }
    .flex-banner-down-one p {
        top: 457px;
        left: 166px;
    }
    .flex-banner-down-one {
        margin-left: 65px;
    }
    .flex-banner-down-one p {
        top: 457px;
        left: 138px;
    }
    .col-lg-6.content p {
        width: 70%;
    }
    .row.content-news {
        padding-top: 36%;
        margin-bottom: 112px;
    }
    .content-new-text p {
        top: 1%;
        width: 176px;
        left: 130px;
        /* text-align: center; */
    }
    .col-lg-6.content p.text-content-company {
        position: absolute;
        width: 89%;
        left: 10.72%;
        right: 10.89%;
        top: 69.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p.text-content-company.one {
        position: absolute;
        width: 342.18px;
        left: 10.72%;
        right: 10.89%;
        top: 76.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p.text-content-company.two {
        position: absolute;
        width: 305.18px;
        left: 10.72%;
        right: 10.89%;
        top: 88.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #303030;
    }
    .content-new-text h2 {
        top: 2.51%;
        font-size: 37px;
        width: 40%;
        left: 133px;
    }
    p.content-new-text-two {
        width: 91%;
        left: 20px;
    }
    .col-lg-4.content-new a.load-more {
        left: 265px;
    }
    img.click-new {
        left: 343px;
    }
    .content-view-all a img {
        left: 21%;
        top: 102%;
    }
    .content-view-all a img.click-all {
        left: 281px;
        margin-top: 226px;
    }
    .content-view-all a img.click-all-view {
        left: 286px;
        margin-top: 221px;
    }
    .content-view-all p {
        left: 28.15%;
        margin-top: 207px;
    }
    .text-client p {
        left: 21.53%;
        top: 3.68%;
        width: 171px;
    }
    .text-client h2 {
        left: 66px;
        margin-top: -74px;
        /* text-align: center; */
    }
    .client-right p {
        width: 94%;
        left: 11px;
        text-align: justify;
        top: 68%;
    }
    .content-client {
        height: 1029px;
    }
    .row.client {
        margin-top: 817px;
        margin-left: 23px;
        /* left: 36%; */
        width: 88%;
        height: 136%;
        display: none;
    }
    .client-img-left a img {
        left: 2px;
        /* top: 0; */
        margin-top: -7px;
    }
    .client-img-left p.client-text-up {
        left: 23px;
        margin-top: -1px;
    }
    .client-img-left p.client-text-down {
        left: 32px;
        margin-top: -3px;
    }
    p.content-new-text-one {
        width: 78%;
        left: 20px;
    }
    .client-center a img {
        left: 339px;
        margin-top: 248px;
    }
    .client-right-one {
        display: none;
    }
    .client-right p {
        width: 94%;
        left: 11px;
        text-align: justify;
        top: 69%;
    }
    .content-client {
        height: 850px;
    }
    .row.contact .col-lg-2 p.text-contact {
        font-size: 9px;
        width: 131px;
        height: 42px;
        padding: 10px;
        margin-left: -21px;
        display: none;
    }
    p.text-joint-text {
        width: 322px;
        margin-left: -68px;
    }
    img.submit-footer {
        left: 16%;
        /* top: -18%; */
        margin-top: -12px;
    }
    .contact {
        height: 81px;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 130px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
    input[type="email"] {
        opacity: 0.6;
        width: 109.99%;
        margin-left: -55px;
    }
    form a img {
        margin-top: -72px;
        margin-left: 166px;
    }
    img.submit-footer {
        left: 15%;
        /* top: -18%; */
        margin-top: -12px;
    }
    iframe {
        width: 215%;
        margin-left: -106px;
    }
    .row.icon-footer .col-4 i {
        color: blue;
        font-size: 20px;
        margin-top: -19px;
        cursor: pointer;
    }
}

@media screen and (max-width:411px) {
    .text-client h2 {
        left: 54px;
        margin-top: -74px;
        /* text-align: center; */
    }
    .client-img-left a img {
        left: 2px;
        /* top: 0; */
        margin-top: -10px;
    }
    .client-center a img {
        left: 339px;
        margin-top: 246px;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 45px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
}

@media screen and (max-width:375px) {
    .menu ul.show {
        transform: translateZ(10deg);
        opacity: 1;
        margin-left: 173px;
        transition: 2s;
    }
    p.text-banner-one {
        font-size: 22px;
        /* width: 411px; */
        left: 6px;
        padding: -8px;
    }
    .flex-banner-up p.text-banner {
        left: 6px;
        width: 346px;
        text-align: justify;
        font-size: 18px;
    }
    img.img-next {
        margin-right: 15px;
        margin-left: -41px;
    }
    .flex-banner-down img {
        padding: 0px;
        margin-left: 26px;
    }
    .flex-banner-down p {
        margin-left: 25px;
    }
    p.text-banner-one {
        font-size: 22px;
        width: 375px;
        left: 7px;
        padding: -8px;
    }
    .text-banner-img-right {
        display: none;
    }
    p.text-banner-one {
        width: 96%;
    }
    .img-icon {
        margin-left: 25%;
    }
    .col-lg-6.content a img.img-content-company {
        position: absolute;
        left: 69.38%;
        right: 11.94%;
        top: 13.11%;
        bottom: 45.05%;
        opacity: 0.6;
    }
    .flex-banner-down-one p {
        top: 501px;
        left: 139px;
    }
    img.img-next {
        margin-right: 15px;
        margin-left: -39px;
    }
    .content-new-text p {
        top: 1%;
        width: 176px;
        left: 105px;
        /* text-align: center; */
    }
    .content-new-text h2 {
        top: 2.51%;
        font-size: 37px;
        width: 40%;
        left: 115px;
    }
    p.content-new-text-one {
        width: 83%;
        left: 20px;
    }
    p.content-new-text-two {
        width: 88%;
        left: 20px;
        text-align: justify;
    }
    img.text-hr {
        width: 89%;
    }
    .col-lg-4.content-new a.load-more {
        left: 254px;
    }
    img.click-new {
        left: 322px;
    }
    .content-view-all a img.click-all {
        left: 269px;
        margin-top: 225px;
    }
    .content-view-all a img.click-all-view {
        left: 279px;
        margin-top: 219px;
    }
    .col-lg-6.content p.text-content-company {
        position: absolute;
        width: 299.18px;
        left: 3.72%;
        right: 10.89%;
        top: 69.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p.text-content-company.one {
        position: absolute;
        width: 288.18px;
        left: 3.72%;
        right: 10.89%;
        top: 76.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p.text-content-company.two {
        position: absolute;
        width: 327.18px;
        left: 3.72%;
        right: 10.89%;
        top: 88.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p {
        width: 77%;
    }
    .col-lg-6.content p {
        width: 77%;
        left: 10px;
    }
    .client-img-left p.client-text-up {
        left: 23px;
        margin-top: -46px;
    }
    .client-img-left p.client-text-down {
        left: 32px;
        margin-top: -48px;
    }
    .client-center a img {
        left: 217px;
        margin-top: 201px;
    }
    p.text-joint-text {
        width: 345px;
        /* position: absolute; */
        /* left: 20px; */
        margin-left: -101px;
    }
    p.footer {
        width: 168px;
        margin-left: -8px;
    }
    input[type="email"] {
        opacity: 0.6;
        width: 204.99%;
        margin-left: -108px;
    }
    form a img {
        margin-top: -73px;
        margin-left: 191px;
    }
    img.submit-footer {
        left: 19%;
        /* top: -18%; */
        margin-top: -14px;
    }
    .client-img-left a img {
        left: 2px;
        /* top: 0; */
        margin-top: -46px;
    }
    .client-right p {
        width: 94%;
        left: 11px;
        text-align: justify;
        top: 66%;
    }
    .text-client h2 {
        left: 41px;
        margin-top: -74px;
        /* text-align: center; */
    }
    .col-lg-4 p.text-joint {
        font-weight: bolder;
        margin-top: 20px;
        font-size: 25px;
        width: 304px;
        margin-left: -79px;
    }
    iframe {
        width: 237%;
        margin-left: -107px;
    }
    .row.icon-footer {
        margin-left: 95px;
        margin-right: 87px;
        margin-top: -70px;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 39px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
}

@media screen and (max-width:360px) {
    .content-new-text h2 {
        top: 2.51%;
        font-size: 37px;
        width: 41%;
        left: 112px;
    }
    .content-view-all p {
        left: 34.15%;
        margin-top: 207px;
    }
    .text-client h2 {
        left: 34px;
        margin-top: -74px;
        /* text-align: center; */
    }
    .client-img-left a img {
        left: 2px;
        /* top: 0; */
        margin-top: -62px;
    }
    .client-img-left p.client-text-up {
        left: 23px;
        margin-top: -60px;
    }
    .client-img-left p.client-text-down {
        left: 32px;
        margin-top: -59px;
    }
    .client-center a img {
        left: 217px;
        margin-top: 193px;
    }
    p.text-joint-text {
        width: 345px;
        /* position: absolute; */
        /* left: 20px; */
        margin-left: -108px;
    }
    input[type="email"] {
        opacity: 0.6;
        width: 228.99%;
        margin-left: -108px;
    }
    iframe {
        width: 263%;
        margin-left: -107px;
    }
}

@media screen and (max-width:320px) {
    p.text-banner-one {
        font-size: 21px;
        width: 97%;
    }
    label#icon-menu {
        margin-top: -65%;
    }
    .menu ul.show {
        transform: translateZ(10deg);
        opacity: 1;
        margin-left: 118px;
        transition: 2s;
    }
    .flex-banner-up p.text-banner {
        left: 6px;
        width: 298px;
        text-align: justify;
        font-size: 18px;
    }
    .img-icon {
        margin-left: 25%;
        margin-top: -60px;
    }
    .flex-banner-down img {
        /* padding: 0px; */
        /* top: 25%; */
        margin-top: 35px;
        margin-left: 7px;
    }
    .flex-banner-down p {
        left: 102px;
        top: 601px;
        margin-top: 78px;
    }
    .flex-banner-down-one {
        margin-left: 15px;
    }
    .flex-banner-down-one p {
        top: 588px;
        left: 86px;
    }
    .col-lg-6.content a img.img-content-company {
        position: absolute;
        left: 62.38%;
        right: 11.94%;
        top: 13.11%;
        bottom: 45.05%;
        opacity: 1;
    }
    .col-lg-6.content p.text-content-company {
        position: absolute;
        width: 276.18px;
        left: 3.72%;
        right: 10.89%;
        top: 69.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p.text-content-company.one {
        position: absolute;
        width: 297.18px;
        left: 3.72%;
        right: 10.89%;
        top: 76.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p {
        width: 93%;
        left: 10px;
    }
    .col-lg-6.content p.text-content-company.one {
        position: absolute;
        width: 280.18px;
        left: 3.72%;
        right: 10.89%;
        top: 76.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #303030;
    }
    .col-lg-6.content p.text-content-company.two {
        position: absolute;
        width: 380.18px;
        left: 3.72%;
        right: 10.89%;
        top: 83.23%;
        bottom: 16.85%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #303030;
        display: none;
    }
    .content-new-text p {
        top: 1%;
        width: 176px;
        left: 76px;
        /* text-align: center; */
    }
    .content-new-text h2 {
        top: 2.51%;
        font-size: 37px;
        width: 55%;
        left: 72px;
    }
    p.content-new-text-two {
        width: 84%;
        left: 20px;
        text-align: justify;
    }
    .col-lg-4.content-new a.load-more {
        left: 197px;
        font-size: 15px;
    }
    img.click-new {
        left: 269px;
    }
    .content-view-all a img {
        left: 16%;
        top: 102%;
    }
    .content-view-all a img.click-all {
        left: 244px;
        margin-top: 222px;
    }
    .content-view-all a img.click-all-view {
        left: 248px;
        margin-top: 213px;
    }
    .text-client h2 {
        left: 11px;
        margin-top: -98px;
        /* text-align: center; */
    }
    .text-client p {
        left: 16.53%;
        top: 3.68%;
        width: 171px;
    }
    .client-img-left a img {
        left: 2px;
        /* top: 0; */
        margin-top: -102px;
    }
    .client-img-left p.client-text-up {
        left: 23px;
        margin-top: -101px;
    }
    .client-img-left p.client-text-down {
        left: 32px;
        margin-top: -99px;
    }
    .client-center a img {
        left: 217px;
        margin-top: 147px;
    }
    .client-right p {
        width: 94%;
        left: 11px;
        text-align: justify;
        top: 58%;
    }
    .col-lg-4 p.text-joint {
        font-weight: bolder;
        margin-top: 20px;
        font-size: 25px;
        width: 304px;
        margin-left: -108px;
    }
    p.text-joint-text {
        width: 281px;
        /* position: absolute; */
        /* left: 20px; */
        margin-left: -97px;
    }
    .col-lg-4.footer ul li {
        padding: 5px;
        margin-left: 40px;
        list-style: none;
        width: 60px;
    }
    .col-lg-4.footer p.footer.one {
        margin-left: -39px;
    }
    .col-lg-4 p.footer {
        font-weight: bold;
        color: blue;
        font-size: 20px;
        margin-left: -42px;
    }
    form a img {
        margin-top: -71px;
        margin-left: 138px;
    }
    input[type="email"] {
        opacity: 0.6;
        width: 268.99%;
        margin-left: -108px;
    }
    img.submit-footer {
        left: 27%;
        /* top: -18%; */
        margin-top: -14px;
    }
    iframe {
        width: 323%;
        margin-left: -107px;
    }
    .row.icon-footer .col-4 i {
        color: blue;
        font-size: 30px;
        margin-top: 0px;
        cursor: pointer;
        margin-left: -20px;
    }
}


/* css loading */


/* css loading */